<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button (click)="onTikePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Location details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Title : <strong>{{currentlocation.title}}</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>City : <strong>{{currentlocation.city}}</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Country : <strong>{{currentlocation.country}}</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Keywords : <strong>{{currentlocation.Keywords}}</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Title : <strong>{{currentlocation.title}}</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Title : {{currentlocation.title}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-card>
    <ion-card-content>
      <h1>{{ currentlocation.title }}</h1>

      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let im of currentlocation.photos">
    <ion-card-content>
<ion-img [src]="im"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
