<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-input type="text" name="Login.username" placeholder="Username" [(ngModel)]="Login.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" name="Login.password" placeholder="Password" [(ngModel)]="Login.password"></ion-input>
    </ion-item>
      <ion-button expand="block" (click)="onLogin()">Login</ion-button>
  </form>
</ion-content>

